*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#00000001, #00000063), url(/img/paisagem.webp);
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
}
.container{
    max-width: 1900px;
    padding: 3%;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    font-size: 40px;
    font-style: italic;
    color: white;
    font-weight: bold;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}
nav ul li a:hover{
    background-color: rgb( 0, 123, 255);
}
thead {
    font-size: 30px;
    align-content:center;
    color: rgb(27, 2, 87);
}
tbody{
    font-size: 30px;
    color: rgb(2, 8, 92)
}
.minhatabela{
     width: 900px;
  margin-left: auto;
  margin-right: auto;
}
table{
    border: white;
}